<div class="row">
    <h1 class="col-12">&#10034 Generate Dummy Post</h1>
    <div class="col-12 bounceForm">
        <form action="/admin/generate/posts" method="post">
            <div class="form-group">
                <input name="amount" type="text" class="form-control" placeholder="Input numbers do you want create dump data">
            </div>
            <button type="submit" class="btn btn-success">Generate</button>
        </form>
    </div>
</div>